html{
	font-size: 18px;
}

.wrapper {
	display: grid;
	grid-gap: 10px;
	color: #444;
	grid-template-columns: repeat(12, 1fr);
	font-family: 'Lobster', cursive;
	grid-template-columns: 10% repeat(auto-fill, minmax(30%, 1fr));
	grid-template-rows: 15vh 60vh 45vh 15vh;
}

.head{

	text-align: center;
	grid-column: 1 / 5;
}
.aside{
	grid-column: 1 / 2;
}
.foot{
	grid-column: 1 / 5;
	text-align: center;
}

.box {
	border: 1px solid #444;
	padding: 2rem;
	font-size: 2em;
	border-radius: 1rem;	
	text-align: center;
	height: 80%;
	width: 90%;
}

.a {
	font-size: 1rem;
	grid-column: 2 / 4;
}

.b {
	grid-column: 4 / 5;
}

.c {	
	grid-column: 2 / 3;


}

.d {
	grid-column: 3 / 4;


}
.e {
	grid-column: 4 / 5;


}


.imagen{
	width: 100%;
	border-radius: 1rem;
}

.a .imagen{
	width: 90%;
	height: 20rem;
}
.b .imagen{
	height: 17rem;
}

.c .imagen, .d .imagen, .e .imagen{
	height: 11rem;
}
 