*{
	box-sizing: border-box;
}
html{
	font-size: 18px;
}

.wrapper {
	display: grid;
	color: #444;
	gap: 1rem 0;
	font-family: 'Lobster', cursive;
	grid-template-columns: 10% repeat(3, 30%);
	grid-template-rows: 15vh 60vh 45vh 15vh;
}

.head{
	border-bottom: 1px solid gray;
	text-align: center;
	grid-column: 1 / 5;
}
.aside{
	grid-column: 1 / 2;
}
.foot{
	grid-column: 1 / 5;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, fit-content(30%));
	justify-content: space-between;
	border-top: 1px solid gray;
	padding: 1rem;
	text-align: left;
}

.box {
	border: 1px solid #444;
	padding: 2rem;
	font-size: 2em;
	border-radius: 1rem;	
	text-align: center;
	width: 90%;
	justify-self: flex-end;
}
.nav-ul{
	display: grid;
	gap: 1rem;
}
.item{
	list-style: none;
}

.a {
	font-size: 1rem;
	grid-column: 2 / 4;
	justify-self: center;
}

.b {
	grid-column: 4 / 5;
	width: 100%;
}

.c {	
	grid-column: 2 / 3;


}

.d {
	grid-column: 3 / 4;


}
.e {
	grid-column: 4 / 5;


}


.imagen{
	width: 100%;
	border-radius: 1rem;
}

.a .imagen{
	width: 90%;
	height: 20rem;
}
.b .imagen{
	height: 17rem;
}

.c .imagen, .d .imagen, .e .imagen{
	height: 11rem;
}
 