body {
    font-family: Arial;
}

header {
    background: rgb(55,170,0);
    background: linear-gradient(180deg, rgba(55,170,0,1) 89%, rgba(139,213,17,1) 94%, rgba(223,255,165,1) 100%);
    padding: 20px 10px 0 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaaaaa;
}

.info {
    font-size: 22px;
    text-shadow: 1px 1px 2px #E1E6E6;
    color: #434545;
    font-weight: bold;
}

.contenedor {
    display: flex;
    justify-content: flex-end
}

.caja-menu {
    display: inline-block;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(158,255,59,1) 100%);
    border-radius: 3px;
    width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.caja-menu:hover {
    background: rgba(158,255,59,1);
    background: radial-gradient(circle, rgba(158,255,59,1) 0%, rgba(158,255,59,1) 22%, rgba(255,255,255,1) 100%);
}

    .caja-menu:hover a {
        color: #8A8A8A;
    }

.a-menu {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}
