.contenedor{
    display: flex;
    background-color: #3BF5C8;
    width: 900px;
    height: 400px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.box{
    background-color: #DE3138;
    height: 3rem;
    width: 12rem;
    text-align: center;

    color: white;
}