.contenedor{
    display: flex;
    background-color: #ABABAB;
    width: 900px;
    padding: 20px;
}

.box{
    background-color: #F0BA90;
    height: 3rem;
    text-align: center;
    align-self: center;
    display:table;
    border: 1px solid black;
}
.box p{
    margin: 0;
    display:table-cell;
    vertical-align: middle;
    
}

.box:nth-child(1){
    flex-grow: 1;
    order: 4;
}
.box:nth-child(2){
    flex-grow: 1;
    order: 1;
}
.box:nth-child(3){
    flex-grow: 2;
    order: 2;
}
.box:nth-child(4){
    flex-grow: 3;
    order: 3;
}

.contenedor1{
    display: flex;
    background-color: #56A89B;
    width: 900px;
    padding: 20px;
    margin-top: 30px;
}

.box1{
    background-color: #F0BA90;
    height: 8rem;

    align-self: center;
    display:table;
    border: 1px solid black;
}

.box1 p{
    margin: 0;
}

.box1:nth-child(1){
    flex-grow: 1;
}
.box1:nth-child(2){
    flex-grow: 3;
}
.box1:nth-child(3){
    flex-grow: 1;
}
