/* PALETA */
* {
    -fx-primario: #3C976F;
    -fx-secundario: #1b5e47;
    -fx-verde-claro: #67b995;
    -fx-gris-claro: #d7d0d0;
    -fx-gris-medio: #a29d9d;
    -fx-gris-oscuro: #575454;
    -fx-blanco: #faf9f8;
    -fx-negro:  #181c1b;
}
/* GLOBAL */
#root-layout{
    -fx-background-color: -fx-blanco;
}
.h1{
	-fx-font-size: 3.375em;
}
.h3{
	-fx-font-size: 1.5em;
}
.ayuda, .texto, .h1, .h3, #plus, .label, .field, .menu-item, .titled-pane, .btn, .radio, .choice-box, .combo-box, .date, .list-view, .tree-view, .table-view{
    -fx-font-family: "Noto Sans";
    -fx-text-fill: -fx-negro;
}
.btn{
    -fx-background-color: -fx-verde-claro;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}
.btn:hover{
    -fx-background-color: -fx-secundario;
    -fx-text-fill: -fx-blanco;
}

.context-menu .menu-item:focused{
    -fx-background-color: -fx-gris-claro;
}
.context-menu .menu-item:hover{
    -fx-background-color: -fx-gris-medio;
}
.scroll-bar .thumb{
    -fx-background-color: -fx-gris-claro;
    -fx-background-radius: 0;
}
.scroll-bar, .scroll-bar .track{
    -fx-background-color: -fx-blanco;
}
.corner{
    -fx-background-color: -fx-gris-claro;
}
/* MENU */
#menu-bar{
    -fx-background-color: -fx-primario;
}
.menu .label{
    -fx-text-fill: -fx-blanco;
}
.menu .context-menu{
    -fx-background-color: -fx-gris-claro;
    -fx-border-style: none;
    -fx-effect: none;
}
.menu:hover, .menu:showing{
    -fx-background-color: -fx-secundario;
}
.menu-item .label{
    -fx-text-fill: -fx-negro;
}
.menu-item:hover, .menu-item:showing{
    -fx-background-color: -fx-gris-medio;
}
.menu{
    -fx-selection-bar: -fx-gris-medio;
}
.ayuda{
    -fx-text-fill: -fx-primario;
    -fx-border-color: transparent;
    -fx-underline: true;
}
.ayuda:hover{
    -fx-text-fill: -fx-secundario;
    -fx-border-color: -fx-secundario;
    -fx-border-width: 1;
    -fx-border-style: dashed;
    -fx-underline: false;
}