#contenedor{
    width: 400px;
}
.primero{
    background-color: #ffc736;
}
.segundo{
    background-color: #a67ffd;
}
.tercero{
    background-color: #f6754b;
}
.cuarto{
    background-color: #69c78d;
}