div {
    box-sizing: border-box;
}
.row {
    border: 10px solid black;
    padding: 1em;
    margin: 0.5em;
    text-align: center;   
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1rem;
}
.element {
    border: 10px solid green;
	padding: 0.5em;
}
.image {
    border: 10px solid blue;
    padding: 0.5em;
    margin: 0.5em;
}
.text {
    border: 10px solid red;
    padding: 0.5em;
    margin: 0.5em;
}

@media (min-width: 241px) {
    .row {
        grid-template-columns: 1fr 1fr;
    }
    .element {
        color: blue;
    }

}
@media (min-width: 769px) {
    .row {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .element {
        color: green;
    }

}
@media (min-width: 1025px) {
    .row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .element {
        color: red;
    }
}