body{
  margin: 0;
}

.container{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: rgb(233,166,120);
     background: linear-gradient(0deg, rgb(252, 214, 164) 0%, rgb(255, 248, 243) 100%);
     padding: 10px;
}

a{
    color: #121212;
    text-decoration: none;
}

a:hover{
    opacity: .6;
}

/* HEADER */

header{
    background: rgb(212,27,91);
    background: linear-gradient(0deg, rgba(212,27,91,1) 0%, rgba(219,57,113,1) 40%, rgba(233,166,120,1) 100%);
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 2;
}

.logo{
    height: 120px;
    fill: white;
}

.logo-container{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.vl-container{
    list-style: none;
}
.vl{
    border-left: 1px solid #121212;
    height: 15px;
    margin-top: 5px;
}
.cart{
    padding: 0 20px 0 20px;
}
.cart, .search-bar{
    list-style: none;
}

.nav-item{
    list-style: none;
}


.nav-item:nth-child(8){
    border: none;
}

.navbar  .nav-item  .navbar{
    display: block;
    background-color: white;
    border: 1px solid #121212;
    padding: 0;
    margin-top: -3px;
    padding: 20px 0 10px 10px;
    width: 198px;
    
}
.navbar  .nav-item  .sub-nav{
    position: absolute;
    display: none;
    
}
.arrow{
  font-size: .7rem;
  position: absolute;
  margin-left: 50px;
  margin-top: 5px;
}
.sub-nav .navbar > li.nav-item .navbar{
  display: none;
  position: absolute;
  margin-left: 176px;
  margin-top: -38px;
  background-color: rgba(212,27,91,1);
  border-radius: 3px;
  border: none;
}
.sub-nav .navbar > li.nav-item:nth-child(9){
  width: 100%;
}

.sub-nav .navbar > li.nav-item:nth-child(9):hover .navbar{
  display: block;
}

.sub-nav .navbar > li.nav-item .navbar .nav-item{
  list-style: none;
}
.sub-nav .navbar > li.nav-item .navbar .nav-item a.nav-link{
  color: white;
}

.triangle{
    background-image: url("images/triangle-32.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30% top;
    width: 100%;
    height: 15px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}


.navbar  .nav-item:hover  .sub-nav{

    display: block;
}


.navbar  .nav-item  .navbar .nav-item{
    font-family: 'Gruppo', sans-serif; 
    border: none;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.fa-shopping-cart{
    color: #121212;
   font-size: 22px;
}

.search{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border: 2px solid #756B6A;
    font-size: 19px;
    padding:5px 10px;
}

/* NAV ANIMATION */
.nav-link{
  overflow: hidden;
  background: linear-gradient(to right, #f1c4cc, #f1c4cc 50%, #121212 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.nav-link:hover{
  background-position: 0 100%;
}

.sub-nav .nav-link{
  overflow: hidden;
  background: linear-gradient(to right, rgba(212,27,91,1), rgba(212,27,91,1) 50%, #121212 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.sub-nav .navbar .navbar .nav-link:hover{
  background-position: 0 100%;
}

.sub-nav .navbar .navbar .nav-link{
  overflow: hidden;
  background: linear-gradient(to right, #121212, #121212 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.sub-nav .nav-link:hover{
  background-position: 0 100%;
}
.arrow{
  color: #121212;
}


/* GALLERY */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  #hero ol,#hero li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #hero ol{
    padding-top: 80px;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 400px;
    
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
    
  }
  
  .carousel__slide:nth-child(1) {
    background-image: url("Images/pngfind.com-cosmetics-products-png-1642881.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .carousel__slide:nth-child(2) {
    background-image: url("Images/SeekPng.com_shampoo-png_2343148.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .carousel__slide:nth-child(3) {
    background-image: url("Images/—Pngtree—mega discount sale tag_4346264.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .carousel__slide:nth-child(4) {
    background-image: url("Images/PngItem_434027.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }


  
  .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);

  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: -40px;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(212,27,91);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  #hero{
    margin-top: 200px;
  }

  /* BOXES */

  #products{
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .products-container{
    display: flex;
    justify-content: space-around;
  }
  .box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    padding: 20px;
    width: 300px;
    display:flex;
    flex-direction: column;
  }
  .name-heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-name{
    margin-top: 0.5rem;
  }
  .name-heart a{
    height: fit-content;
  }
  .heart{
    color: rgb(212,27,91);
  }
  .box > a{
    width: 100%;
    text-align: center;
  }

  .photo{
    height: 200px;
  }

  .prices{
    display: flex;
  }
  .price-after{
    margin-left: 30px;
    font-weight: bold;
  }
  .price-before{
    color:#a8a09f;
    text-decoration: line-through;
  }


 



  /* FOOTER */

  footer{
    display: flex;
    flex-flow: wrap;
  }

  .col-6{
    width: 50%;
  }

 .newsletter-container{
   display: flex;
   justify-content: center;
   margin-left: -1px;
   margin-top: -30px;
   font-family: 'Gruppo', sans-serif;
   
  }
  .news-title{
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .3rem;
  }
  .email{
    margin-right: 1rem;
  }

  .newsletter{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #a5a5a5;
    padding: 20px;
    height: fit-content;
    
  }
  #email{
    width: 70%;
    padding: 5px;
    margin-top: 1rem;
  }
  .submit{
    background-color: #888888;
    font-family: 'Gruppo', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    width: 30%;
    padding: 5px;
    border: 1px solid #888888;
    color: white;
    margin-left: -5px;
  }

  .footer-nav-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Gruppo', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    margin-top: -30px;
  }

  .footer-navbar{
    display: flex;
    flex-flow: wrap;
  }

  .footer-nav-item{
    list-style: none;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-nav-item:nth-child(1), .footer-nav-item:nth-child(2){
    margin-top: 0;
  }

  .footer-nav-item:nth-last-child(1), .footer-nav-item:nth-last-child(2){
    margin-bottom: 0;
  }
  .bar-container{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .horizontal-bar{
    height: 1px;
    width: 100%;
    background-color: #121212;
  }

 
  .vertical-bar{
    height: calc(100% - 3rem);
    width: 1px;
    background-color: #121212;
  }
  .logo-container-footer{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .textual-logo{
    font-family: 'Gruppo', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .textual-logo span{
    font-size: 1.2rem;
  }

  .social-container{
    width: 100%;
  }
  .social-icons{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0;
    z-index: 2;
    left: 0;
    right: 0;
  }
  .social-icon{
    list-style: none;
    margin-left: .75rem;
    margin-right: .75rem;
    font-size: 1.5rem;
    color: #333;
  }
